@media (min-width: 992px) {
  .site-header .container {
    min-height: 1100px;
  }
  .footer-images {
    border-top: 1px solid #2F3B52;
    border-bottom: 1px solid #2F3B52;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .footer-images .contact-wrap {
    border-right: 1px solid #2F3B52;
    margin: 10px 0;
  }
  .footer-images .payment-list {
    max-width: 550px;
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  .site-header .container {
    min-height: 1300px;
  }
}
@media (min-width: 1920px) {
  .site-header {
    background-image: url("/assets/img/main-backround-large.svg");
  }
  .site-header .header-wrap {
    min-height: 630px;
  }
  .site-header .header-wrap .header-content {
    justify-content: left;
    align-items: start;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .site-header .header-wrap .header-content .header-title {
    text-align: left;
    font-size: 44px;
    font-weight: 800;
    width: 500px;
    text-wrap: wrap;
  }
  .site-header .header-wrap .header-content .header-title strong {
    font-weight: 800;
    font-style: normal;
  }
  .site-header .header-wrap .header-content .header-btn {
    width: 200px;
    height: 70px;
    font-size: 18px;
  }
  .site-header .header-wrap .header-content .header-btn button {
    width: 200px;
    height: 70px;
    font-size: 18px;
  }
  .main-section .container-steps {
    height: 160px;
  }
  .main-section .container-steps .item img {
    width: 100px;
  }
  .main-section .container-steps .item .item-info {
    display: block;
  }
  .main-section .container-settings .settings-title {
    font-size: 24px;
  }
  .main-section .container-settings .settings-wrap {
    width: 900px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .main-section .container-settings .settings-wrap .settings-block {
    flex: 0 1 13%;
    width: 50px !important;
  }
  .main-section .container-settings .settings-wrap .settings-block img {
    width: 100px;
  }
  .main-section .container-settings .settings-wrap .settings-block p {
    font-size: 20px;
  }
  .footer-section .footer-wrap {
    display: flex;
  }
  .footer-section .footer__main-info {
    width: 110%;
    display: flex;
    justify-content: space-between;
  }
  .footer-section .footer__main-info .block__tittle {
    text-align: left;
    font-size: 16px;
  }
  .footer-section .footer__main-info .block__list {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 14px;
  }
  .footer-section .footer-images {
    width: 50%;
    display: flex;
  }
  .footer-section .footer-images .mobile-systems {
    flex-direction: column;
  }
  .footer-section .footer-images .mobile-systems img {
    width: 150px;
    padding: 10px 40px 0 0;
  }
  .footer-section .footer-images .contact-wrap {
    display: flex;
    border: 0;
  }
  .footer-section .footer-images .support-medium {
    border: 0;
  }
  .footer-section .footer-images .angel-social {
    display: block;
  }
  .footer-section .footer-images .support-large {
    display: block;
    width: 50px !important;
  }
  .footer-section .footer-images .payment {
    display: none;
  }
  .footer-section .footer-images .payment-list {
    display: block;
    width: 1000%;
    max-width: none;
  }
  .footer-section .footer-images .support-medium {
    display: none !important;
  }
  .footer-section .payment-large-screen {
    display: block !important;
  }
  .footer-section .payment-large-screen .block__tittle {
    text-align: left;
    padding-left: 0;
  }
  .footer-section .payment-large-screen .payment-list {
    justify-content: start;
  }
}

/*# sourceMappingURL=large-media-style.css.map */
